{# templates/book_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Book - Bookstore{% endblock %}

{% block content %}

<h2>Edit Book</h2>

<p><a href="index.php">← Back to list</a></p>

{% if errors is not empty %}
    <div class="errors">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="book_edit.php?id={{ id }}" method="post">
    <label>
        Title:
        <input type="text" name="title" value="{{ title }}" required>
    </label><br><br>

    <label>
        Author:
        <input type="text" name="author" value="{{ author }}" required>
    </label><br><br>

    <label>
        Genre:
        <input type="text" name="genre" value="{{ genre }}" required>
    </label><br><br>

    <label>
        Year Published:
        <input type="number" name="year_published" value="{{ year_published }}" required>
    </label><br><br>

    <label>
        ISBN:
        <input type="text" name="isbn" value="{{ isbn }}">
    </label><br><br>

    <label>
        Price:
        <input type="number" step="0.01" name="price" value="{{ price }}">
    </label><br><br>

    <label>
        Stock:
        <input type="number" name="stock" value="{{ stock }}" min="0">
    </label><br><br>

    <button type="submit">Save Changes</button>
</form>

{% endblock %}
